<div class="wrapper">

  <!-- container on top with the search bar, the recap and filters  -->
  <div class="container results__container-head">

    <!-- search input -->
    <div class="results__search-input">
      <div class="search-form">
        <form action="/flight_bundles" method="get" class="form-inline form-homepage">

          <label class="sr-only" for="inlineFormInput">Your city</label>
          <input type="text" required class="input-padding form-control mb-2 mr-sm-2 awesomplete" id="inlineFormInputCity" placeholder="Your city" name="your-city" list="mylist">

          <label class="sr-only" for="inlineFormInputName2">Your friend's city</label>
          <input type="text" required class="input-padding form-control mb-2 mr-sm-2 awesomplete" id="inlineFormInputFriendCity" placeholder="Your friend's city" name="friends-city" list="mylist">

          <!-- list for the autocomplete -->
          <datalist id="mylist">
            <% City.all.each do |city| %>
            <option> <%= city.name %> </option>
            <% end %>
          </datalist>

          <label class="sr-only" for="inlineFormInput">Start and Return Date</label>

        <div class="buoy-show-datepicker input-padding" >
          <div class="datepicker-field">
            <input type="text" required class="form-control mb-2 mr-sm-2" id="inlineFormStartInputDate" placeholder="Start and Return Date" name="start-date">
          </div>
        </div >
        <div class="datepicker-submit">
          <button type="submit" class="btn btn-orange mb-2">Search</button>
        </div>
        </form>
      </div>
    </div>
    <!-- Above is closing of search input -->

    <div class="results__search-recap">
      <h3>
        <%= @bundle.size %> results flying from
        <strong><%= params["your-city"] %></strong>
        and
        <strong><%= params["friends-city"] %></strong>,
        from
        <strong><%= Date.parse(params["start-date"].split(" to ")[0]).strftime("%d/%m/%Y") %></strong>
        to
        <strong><%= Date.parse(params["start-date"].split(" to ")[1]).strftime("%d/%m/%Y") %></strong>
        </h3>
    </div>
  </div>
  <!-- above closing container with the search bar and filters  -->

  <!-- XXXX NEW CONTAINER - WITH RESULTS AND CITY INFO -->
  <div class="container results__container-results">

    <!-- left side of the screen, with the results cards  -->
    <div class="results__results-list-side">
      <div class="row results__results-list-row">
        <% @bundle.each do |flight_bundle| %>
$          <div class=" link-color-hover col-xs-12" >
            <%= render 'components/bundle_card', flight_bundle: flight_bundle %>

            <!-- <%= link_to (render 'components/bundle_card', flight_bundle: flight_bundle), flight_bundle_path(flight_bundle), {:style=>"color:#fff;"} %> -->
          </div>
        <% end %>
        <div class="col-xs-12">
          <div class="results-loadmore-circle">
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
          </div>

        </div>
      </div>
    </div>
    <!-- above is the closing div of the LEFT side of the screen  -->

    <!-- right side of the screen, with city info  -->
    <div class="results__results-infos-side">
      <div class="row results__results-infos-row">

          <div class="results__result-infos-card">
            <div class="results__results-infos-picture">
              <!-- put links to images -->
            </div>

            <!-- City and country -->
            <div class="results__results-infos-destination">
              <h1><%= @bundle.first.flight_bundle_flights.first.flight.to_airport.city.name %></h1>
              <h4><%= @bundle.first.flight_bundle_flights.first.flight.to_airport.city.country %></h4>
            </div>

            <!-- City description -->
            <div class="results__results-infos-description">
              <p><%= truncate(@bundle.first.flight_bundle_flights.first.flight.to_airport.city.description, :length => 100) %></p>
            </div>


            <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXX -->
            <!-- Bubble with flights infos 1 -->
            <div class="results__results-infos-flights">
              <div class="bubble">

                <!-- Passenger 'you', first flight -->
                <div id="flight-row-title">
                  <span>You</span>
                </div>
                <div class="bubble-flights-row">
                  <div class="flight-row-airport-departure">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[3].flight.from_airport.acronym %>
                      </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[3].flight.departure_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-time-departure">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[3].flight.departure_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-line">
                    <!-- DON'T DELETE THE EMPTY H2 -->
                    <h2></h2>
                    <p>
                      <%= Time.at(@bundle.first.flight_bundle_flights[3].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                    </p>
                  </div>
                  <div class="flight-row-planeicon">
                    <%= image_tag("planeresults.svg") %>
                  </div>
                  <div class="flight-row-time-arrival">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[3].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-airport-arrival">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[3].flight.to_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[3].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-airline">
                    <p>
                      <%= @bundle.first.flight_bundle_flights[3].flight.airline.name %></p>
                  </div>
                </div>

                <!-- Passenger 'you', SECOND flight -->
                <div class="bubble-flights-row">
                  <div class="flight-row-airport-departure">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[2].flight.from_airport.acronym %>
                      </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[2].flight.departure_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-time-departure">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[2].flight.departure_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-line">
                    <!-- DON'T DELETE THE EMPTY H2 -->
                    <h2></h2>
                    <p>
                      <%= Time.at(@bundle.first.flight_bundle_flights[2].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                    </p>
                  </div>
                  <div class="flight-row-planeicon">
                    <%= image_tag("planeresults.svg") %>
                  </div>
                  <div class="flight-row-time-arrival">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[2].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-airport-arrival">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[2].flight.to_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[2].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-airline">
                    <p>
                      <%= @bundle.first.flight_bundle_flights[2].flight.airline.name %></p>
                  </div>
                </div>
              <!-- Below is closing of first flight bubble -->
              </div>

              <div class="bubble-flights-line-separation">
                <%= image_tag("lineflights.svg") %>
              </div>

              <!-- XXXX SECOND BUBBLE XXXX -->
              <!-- Bubble with flights infos 2 -->
              <div class="bubble">
                <!-- Passenger 'YOUR FRIEND', FIRST flight -->
                <div id="flight-row-title">
                  <span>Your friend</span>
                </div>
                <div class="bubble-flights-row">
                  <div class="flight-row-airport-departure">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[1].flight.from_airport.acronym %>
                      </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[1].flight.departure_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-time-departure">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[1].flight.departure_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-line">
                    <!-- DON'T DELETE THE EMPTY H2 -->
                    <h2></h2>
                    <p>
                      <%= Time.at(@bundle.first.flight_bundle_flights[1].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                    </p>
                  </div>
                  <div class="flight-row-planeicon">
                    <%= image_tag("planeresults.svg") %>
                  </div>
                  <div class="flight-row-time-arrival">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[1].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-airport-arrival">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[1].flight.to_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[1].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-airline">
                    <p>
                      <%= @bundle.first.flight_bundle_flights[1].flight.airline.name %></p>
                  </div>
                </div>

                <!-- Passenger 'YOUR FRIEND', SECOND flight -->
                <div class="bubble-flights-row">
                  <div class="flight-row-airport-departure">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[0].flight.from_airport.acronym %>
                      </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[0].flight.departure_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-time-departure">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[0].flight.departure_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-line">
                    <!-- DON'T DELETE THE EMPTY H2 -->
                    <h2></h2>
                    <p>
                      <%= Time.at(@bundle.first.flight_bundle_flights[0].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                    </p>
                  </div>
                  <div class="flight-row-planeicon">
                    <%= image_tag("planeresults.svg") %>
                  </div>
                  <div class="flight-row-time-arrival">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[0].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-airport-arrival">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[0].flight.to_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[0].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-airline">
                    <p>
                      <%= @bundle.first.flight_bundle_flights[0].flight.airline.name %></p>
                  </div>
                </div>
              <!-- below is closing of 2nd fligh bubble  -->
              </div>

            <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXX -->
            <!-- XXXX BELOW IS CLOSING OF FLIGHT INFOS XXXX -->
            </div>

            <!-- Bubble with acitvities, Or later concerts ? -->
            <div class="results__results-infos-activities">
              <div class="bubble">

                <div class="row row-destination-activities">
                  <div class="col-xs-6 activities-list">
                    <h4>Top sights</h4>
                    <p>1. Castelo de Sao Jorge</p>
                    <p>2. Bélem</p>
                    <p>3. Miradouro da Senhora do Monte</p>
                  </div>
                  <div class="col-xs-6 activities-list">
                    <h4>Top restaurants</h4>
                    <p>1. Castelo de Sao Jorge</p>
                    <p>2. Bélem</p>
                    <p>3. Miradouro da Senhora do Monte</p>
                  </div>
                  <div class="col-xs-6 activities-list">
                    <h4>Top bars</h4>
                    <p>1. Castelo de Sao Jorge</p>
                    <p>2. Bélem</p>
                    <p>3. Miradouro da Senhora do Monte</p>
                  </div>
                  <div class="col-xs-6 activities-list">
                    <h4>Top museum</h4>
                    <p>1. Castelo de Sao Jorge</p>
                    <p>2. Bélem</p>
                    <p>3. Miradouro da Senhora do Monte</p>
                  </div>
                </div>
              </div>

            </div>

            <!-- Bubble with quotes, Or later weather ? -->
            <div class="results__results-infos-quotes">
              <div class="bubble">
                <div class="row row-destination-quote">
                  <div class="col-xs-12 destination-quote">
                    <h4>"This city is DA BOMB"</h4>
                    <p>Arnold Schwartzeneger himlself</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
    <!-- above is the closing div of the RIGHT side of the screen  -->

  </div>
  <!-- above is the closing div of the container results  -->

</div>
