<div class="wrapper">

  <!-- container on top with the search bar and filters  -->
  <div class="container results__container-head">
    <div class="results__search-recap" style="color: black">
      <h3>
        <%= @bundle.size %> results flying from
        <%= params["your-city"] %>
        and
        <%= params["friends-city"] %>,
        from
        <%= Date.parse(params["start-date"]).strftime("%d/%m/%Y") %> to
        <%= Date.parse(params["end-date"]).strftime("%d/%m/%Y") %>
        </h3>
    </div>
  </div>
  <!-- above closing container with the search bar and filters  -->


  <div class="container results__container-results">

    <!-- left side of the screen, with the results cards  -->
    <div class="results__results-list-side">
      <div class="row results__results-list-row">
        <% @bundle.each do |flight_bundle| %>
$          <div class="col-xs-12">
            <%= render 'components/bundle_card', flight_bundle: flight_bundle %>
          </div>
        <% end %>
        <div class="col-xs-12">
          <div class="results-loadmore-circle">
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
            <i class="fas fa-circle"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- above is the closing div of the LEFT side of the screen  -->

    <!-- right side of the screen, with city info  -->
    <div class="results__results-infos-side">
      <div class="row results__results-infos-row">

          <div class="results__result-infos-card">
            <div class="results__results-infos-picture">
              <!-- put links to images -->
            </div>

            <!-- City and country -->
            <div class="results__results-infos-destination">
              <h1><%= @bundle.first.flight_bundle_flights.first.flight.to_airport.city.name %></h1>
              <h4><%= @bundle.first.flight_bundle_flights.first.flight.to_airport.city.country %></h4>
            </div>

            <!-- City description -->
            <div class="results__results-infos-description">
              <p><%= @bundle.first.flight_bundle_flights.first.flight.to_airport.city.description %></p>
            </div>


            <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXX -->
            <!-- Bubble with flights infos 1 -->
            <div class="results__results-infos-flights">
              <div class="bubble-flights1">

                <!-- Passenger 'you', first flight -->
                <div id="flight-row-title">
                  <span>You</span>
                </div>
                <div class="bubble-flights-row">
                  <div class="flight-row-airport-departure">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[3].flight.from_airport.acronym %>
                      </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[3].flight.departure_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-time-departure">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[3].flight.departure_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-line">
                    <!-- DON'T DELETE THE EMPTY H2 -->
                    <h2></h2>
                    <p>
                      <%= Time.at(@bundle.first.flight_bundle_flights[3].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                    </p>
                  </div>
                  <div class="flight-row-planeicon">
                    <%= image_tag("planeresults.svg") %>
                  </div>
                  <div class="flight-row-time-arrival">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[3].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-airport-arrival">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[3].flight.to_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[3].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-airline">
                    <p>
                      <%= @bundle.first.flight_bundle_flights[3].flight.airline.name %></p>
                  </div>
                </div>

                <!-- Passenger 'you', SECOND flight -->
                <div class="bubble-flights-row">
                  <div class="flight-row-airport-departure">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[2].flight.from_airport.acronym %>
                      </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[2].flight.departure_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-time-departure">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[2].flight.departure_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-line">
                    <!-- DON'T DELETE THE EMPTY H2 -->
                    <h2></h2>
                    <p>
                      <%= Time.at(@bundle.first.flight_bundle_flights[2].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                    </p>
                  </div>
                  <div class="flight-row-planeicon">
                    <%= image_tag("planeresults.svg") %>
                  </div>
                  <div class="flight-row-time-arrival">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[2].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-airport-arrival">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[2].flight.to_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[2].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-airline">
                    <p>
                      <%= @bundle.first.flight_bundle_flights[2].flight.airline.name %></p>
                  </div>
                </div>
              <!-- Below is closing of first flight bubble -->
              </div>

              <div class="bubble-flights-line-separation">
                <%= image_tag("lineflights.svg") %>
              </div>

              <!-- XXXX SECOND BUBBLE XXXX -->
              <!-- Bubble with flights infos 2 -->
              <div class="bubble-flights2">
                <!-- Passenger 'YOUR FRIEND', FIRST flight -->
                <div id="flight-row-title">
                  <span>Your friend</span>
                </div>
                <div class="bubble-flights-row">
                  <div class="flight-row-airport-departure">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[1].flight.from_airport.acronym %>
                      </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[1].flight.departure_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-time-departure">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[1].flight.departure_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-line">
                    <!-- DON'T DELETE THE EMPTY H2 -->
                    <h2></h2>
                    <p>
                      <%= Time.at(@bundle.first.flight_bundle_flights[1].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                    </p>
                  </div>
                  <div class="flight-row-planeicon">
                    <%= image_tag("planeresults.svg") %>
                  </div>
                  <div class="flight-row-time-arrival">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[1].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-airport-arrival">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[1].flight.to_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[1].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-airline">
                    <p>
                      <%= @bundle.first.flight_bundle_flights[1].flight.airline.name %></p>
                  </div>
                </div>

                <!-- Passenger 'YOUR FRIEND', SECOND flight -->
                <div class="bubble-flights-row">
                  <div class="flight-row-airport-departure">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[0].flight.from_airport.acronym %>
                      </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[0].flight.departure_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-time-departure">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[0].flight.departure_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-line">
                    <!-- DON'T DELETE THE EMPTY H2 -->
                    <h2></h2>
                    <p>
                      <%= Time.at(@bundle.first.flight_bundle_flights[0].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                    </p>
                  </div>
                  <div class="flight-row-planeicon">
                    <%= image_tag("planeresults.svg") %>
                  </div>
                  <div class="flight-row-time-arrival">
                    <h4>
                      <%= DateTime.parse(@bundle.first.flight_bundle_flights[0].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-airport-arrival">
                    <h3>
                      <%= @bundle.first.flight_bundle_flights[0].flight.to_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@bundle.first.flight_bundle_flights[0].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-airline">
                    <p>
                      <%= @bundle.first.flight_bundle_flights[0].flight.airline.name %></p>
                  </div>
                </div>
              <!-- below is closing of 2nd fligh bubble  -->
              </div>

            <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXX -->
            <!-- XXXX BELOW IS CLOSING OF FLIGHT INFOS XXXX -->
            </div>

            <!-- Bubble with acitvities, Or later concerts if wanted -->
            <div class="results__results-infos-activities">

            </div>

            <!-- Bubble with quotes, Or later weather if wanted -->
            <div class="results__results-infos-activities">

            </div>
          </div>

      </div>
    </div>
    <!-- above is the closing div of the RIGHT side of the screen  -->

  </div>
  <!-- above is the closing div of the container results  -->

</div>
