<div class="wrapper">

  <!-- container on top with the search bar, the recap and filters  -->
  <div class="container results__container-head">

    <!-- search input -->
    <div class="results__search-input">
      <div class="results__search-form">
        <form action="/flight_bundles" method="get" class="form-inline form-homepage">

          <label class="sr-only" for="inlineFormInput">Your city</label>
          <input type="text" required class="input-padding form-control mb-2 mr-sm-2 awesomplete" id="inlineFormInputCity" placeholder="Your city" name="your-city" list="mylist" style="color: black">

          <label class="sr-only" for="inlineFormInputName2">Your friend's city</label>
          <input type="text" required class="input-padding form-control mb-2 mr-sm-2 awesomplete" id="inlineFormInputFriendCity" placeholder="Your friend's city" name="friends-city" list="mylist" style="color: black">

          <!-- list for the autocomplete -->
          <datalist id="mylist">
            <% City.all.each do |city| %>
            <option> <%= "#{city.name} (#{city.country})" %> </option>
            <% end %>
          </datalist>

          <label class="sr-only" for="inlineFormInput">Start and Return Date</label>

          <div class="buoy-show-datepicker input-padding" >
            <div class="datepicker-field">
              <input type="text" required class="form-control mb-2 mr-sm-2" id="inlineFormStartInputDate" placeholder="Start and Return Date" name="start-date" style="color: black">
            </div>
          </div >
          <div class="datepicker-submit">
            <button type="submit" class="btn btn-orange mb-2">Search</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Above is closing of search input -->

    <div class="results__search-recap">
      <h3>
        <b><%= @bundle.size %> results</b> flying from
        <strong><%= params["your-city"].split(" ")[0] %></strong>
        and
        <strong><%= params["friends-city"].split(" ")[0] %></strong>,
        from
        <strong><%= Date.parse(params["start-date"].split(" to ")[0]).strftime("%d/%m/%Y") %></strong>
        to
        <strong><%= Date.parse(params["start-date"].split(" to ")[1]).strftime("%d/%m/%Y") %></strong>
      </h3>
    </div>
  </div>
  <!-- above closing container with the search bar and filters  -->

  <!-- XXXX NEW CONTAINER - WITH RESULTS AND CITY INFO -->
  <div class="container results__container-results">

    <!-- left side of the screen, with the results cards  -->
    <div class="results__results-list-side">
      <div class="row results__results-list-row">

        <!-- Counter for Modal-ID -->
        <% i = 1 %>

        <% @bundle.each do |flight_bundle| %>
          <div class=" link-color-hover col-xs-12" >

            <%= render 'components/bundle_card', {flight_bundle: flight_bundle, i: i} %>
            <%#= render 'components/modal', {flight_bundle: flight_bundle, i: i} %>


            <!-- increase counter for Modal -->
            <% i += 1 %>

          </div>
        <% end %>a
      <div class="col-xs-12">
        <div class="results-loadmore-circle">
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
        </div>

      </div>
    </div>
  </div>
  <!-- above is the closing div of the LEFT side of the screen  -->

  <!-- right side of the screen, with city info  -->
  <div class="results__results-infos-side">
    <div class="row results__results-infos-row" id="destination_infos">

      <%= render 'components/destination_card', flight_bundle: @bundle_id %>

    </div>
  </div>
  <!-- above is the closing div of the RIGHT side of the screen  -->

</div>
<!-- above is the closing div of the container results  -->

</div>


<!-- Javascript for the airline links -->

<script>
  function doubleTab(link1,link2) {
      window.open(link1, '_blank');
      window.open(link2, '_blank');
  }
</script>


