<!-- right side of the screen, with city info  -->
<div class="results__results-infos-side results-infos-side-margin">
  <div class="row results__results-infos-row">


    <div class="results__result-infos-card">
      <div class="results__results-infos-picture">
        <!-- put links to images -->
      </div>

      <!-- City and country -->
      <div class="results__results-infos-destination">
        <h1><%= @flight_bundle.flight_bundle_flights.first.flight.to_airport.city.name %></h1>
        <h4><%= @flight_bundle.flight_bundle_flights.first.flight.to_airport.city.country %></h4>
        <button type="button" class="btn btn-primary button-book" data-toggle="modal" data-target="#exampleModal<%= @flight_bundle.id %> ">
          Book
        </button>
      </div>


      <!-- City description -->
      <div class="results__results-infos-description">
        <p><%= truncate(@flight_bundle.flight_bundle_flights.first.flight.to_airport.city.description, :length => 100) %></p>
      </div>

      <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXX -->
      <!-- Bubble with flights infos 1 -->
      <div class="results__results-infos-flights">
        <div class="bubble">

          <!-- Passenger 'you', first flight -->
          <div id="flight-row-title">
            <span>You</span>
          </div>
          <div class="bubble-flights-row">
            <div class="flight-row-airport-departure">
              <h3>
                <%= @flight_bundle.flight_bundle_flights[3].flight.from_airport.acronym %>
              </h3>
              <p>
                <%= Date.parse(@flight_bundle.flight_bundle_flights[3].flight.departure_datetime.to_s).strftime("%d/%m") %>
              </p>
            </div>
            <div class="flight-row-time-departure">
              <h4>
                <%= DateTime.parse(@flight_bundle.flight_bundle_flights[3].flight.departure_datetime.to_s).strftime("%H:%M") %>
              </h4>
            </div>
            <div class="flight-row-line">
              <!-- DON'T DELETE THE EMPTY H2 -->
              <h2></h2>
              <p>
                <%= Time.at(@flight_bundle.flight_bundle_flights[3].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
              </p>
            </div>
            <div class="flight-row-planeicon">
              <%= image_tag("planeresults.svg") %>
            </div>
            <div class="flight-row-time-arrival">
              <h4>
                <%= DateTime.parse(@flight_bundle.flight_bundle_flights[3].flight.arrival_datetime.to_s).strftime("%H:%M") %>
              </h4>
            </div>
            <div class="flight-row-airport-arrival">
              <h3>
                <%= @flight_bundle.flight_bundle_flights[3].flight.to_airport.acronym %>
              </h3>
              <p>
                <%= Date.parse(@flight_bundle.flight_bundle_flights[3].flight.arrival_datetime.to_s).strftime("%d/%m") %>
              </p>
            </div>
            <div class="flight-row-airline">
              <p>
                <%= @flight_bundle.flight_bundle_flights[3].flight.airline.name %></p>
              </div>
            </div>

            <!-- Passenger 'you', SECOND flight -->
            <div class="bubble-flights-row">
              <div class="flight-row-airport-departure">
                <h3>
                  <%= @flight_bundle.flight_bundle_flights[2].flight.from_airport.acronym %>
                </h3>
                <p>
                  <%= Date.parse(@flight_bundle.flight_bundle_flights[2].flight.departure_datetime.to_s).strftime("%d/%m") %>
                </p>
              </div>
              <div class="flight-row-time-departure">
                <h4>
                  <%= DateTime.parse(@flight_bundle.flight_bundle_flights[2].flight.departure_datetime.to_s).strftime("%H:%M") %>
                </h4>
              </div>
              <div class="flight-row-line">
                <!-- DON'T DELETE THE EMPTY H2 -->
                <h2></h2>
                <p>
                  <%= Time.at(@flight_bundle.flight_bundle_flights[2].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                </p>
              </div>
              <div class="flight-row-planeicon">
                <%= image_tag("planeresults.svg") %>
              </div>
              <div class="flight-row-time-arrival">
                <h4>
                  <%= DateTime.parse(@flight_bundle.flight_bundle_flights[2].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                </h4>
              </div>
              <div class="flight-row-airport-arrival">
                <h3>
                  <%= @flight_bundle.flight_bundle_flights[2].flight.to_airport.acronym %>
                </h3>
                <p>
                  <%= Date.parse(@flight_bundle.flight_bundle_flights[2].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                </p>
              </div>
              <div class="flight-row-airline">
                <p>
                  <%= @flight_bundle.flight_bundle_flights[2].flight.airline.name %></p>
                </div>
              </div>
              <!-- Below is closing of first flight bubble -->
            </div>

            <div class="bubble-flights-line-separation">
              <%= image_tag("lineflights.svg") %>
            </div>

            <!-- XXXX SECOND BUBBLE XXXX -->
            <!-- Bubble with flights infos 2 -->
            <div class="bubble">
              <!-- Passenger 'YOUR FRIEND', FIRST flight -->
              <div id="flight-row-title">
                <span>Your friend</span>
              </div>
              <div class="bubble-flights-row">
                <div class="flight-row-airport-departure">
                  <h3>
                    <%= @flight_bundle.flight_bundle_flights[1].flight.from_airport.acronym %>
                  </h3>
                  <p>
                    <%= Date.parse(@flight_bundle.flight_bundle_flights[1].flight.departure_datetime.to_s).strftime("%d/%m") %>
                  </p>
                </div>
                <div class="flight-row-time-departure">
                  <h4>
                    <%= DateTime.parse(@flight_bundle.flight_bundle_flights[1].flight.departure_datetime.to_s).strftime("%H:%M") %>
                  </h4>
                </div>
                <div class="flight-row-line">
                  <!-- DON'T DELETE THE EMPTY H2 -->
                  <h2></h2>
                  <p>
                    <%= Time.at(@flight_bundle.flight_bundle_flights[1].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                  </p>
                </div>
                <div class="flight-row-planeicon">
                  <%= image_tag("planeresults.svg") %>
                </div>
                <div class="flight-row-time-arrival">
                  <h4>
                    <%= DateTime.parse(@flight_bundle.flight_bundle_flights[1].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                  </h4>
                </div>
                <div class="flight-row-airport-arrival">
                  <h3>
                    <%= @flight_bundle.flight_bundle_flights[1].flight.to_airport.acronym %>
                  </h3>
                  <p>
                    <%= Date.parse(@flight_bundle.flight_bundle_flights[1].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                  </p>
                </div>
                <div class="flight-row-airline">
                  <p>
                    <%= @flight_bundle.flight_bundle_flights[1].flight.airline.name %></p>
                  </div>
                </div>

                <!-- Passenger 'YOUR FRIEND', SECOND flight -->
                <div class="bubble-flights-row">
                  <div class="flight-row-airport-departure">
                    <h3>
                      <%= @flight_bundle.flight_bundle_flights[0].flight.from_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@flight_bundle.flight_bundle_flights[0].flight.departure_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-time-departure">
                    <h4>
                      <%= DateTime.parse(@flight_bundle.flight_bundle_flights[0].flight.departure_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-line">
                    <!-- DON'T DELETE THE EMPTY H2 -->
                    <h2></h2>
                    <p>
                      <%= Time.at(@flight_bundle.flight_bundle_flights[0].flight.flight_duration*3600).utc.strftime("%Hh%M") %>
                    </p>
                  </div>
                  <div class="flight-row-planeicon">
                    <%= image_tag("planeresults.svg") %>
                  </div>
                  <div class="flight-row-time-arrival">
                    <h4>
                      <%= DateTime.parse(@flight_bundle.flight_bundle_flights[0].flight.arrival_datetime.to_s).strftime("%H:%M") %>
                    </h4>
                  </div>
                  <div class="flight-row-airport-arrival">
                    <h3>
                      <%= @flight_bundle.flight_bundle_flights[0].flight.to_airport.acronym %>
                    </h3>
                    <p>
                      <%= Date.parse(@flight_bundle.flight_bundle_flights[0].flight.arrival_datetime.to_s).strftime("%d/%m") %>
                    </p>
                  </div>
                  <div class="flight-row-airline">
                    <p>
                      <%= @flight_bundle.flight_bundle_flights[0].flight.airline.name %></p>
                    </div>
                  </div>
                  <!-- below is closing of 2nd fligh bubble  -->
                </div>

                <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXX -->
                <!-- XXXX BELOW IS CLOSING OF FLIGHT INFOS XXXX -->
              </div>

              <!-- Bubble with acitvities, Or later concerts ? -->
              <div class="results__results-infos-activities">
                <div class="bubble">

                  <div class="row row-destination-activities">
                    <div class="col-xs-6 activities-list">
                      <h4>Top sights</h4>
                      <p>1. <%=  FlightBundle.find(flight_bundle).flight_bundle_flights.first.flight.to_airport.city.sight_one %></p>
                      <p>2. <%= FlightBundle.find(flight_bundle).flight_bundle_flights.first.flight.to_airport.city.sight_two%></p>
                      <p>3. <%= FlightBundle.find(flight_bundle).flight_bundle_flights.first.flight.to_airport.city.sight_three%></p>
                    </div>
                    <div class="col-xs-6 activities-list">
                      <h4>Top restaurants</h4>
                      <p>1. <%= FlightBundle.find(flight_bundle).flight_bundle_flights.first.flight.to_airport.city.restaurant_one%></p>
                      <p>2. <%= FlightBundle.find(flight_bundle).flight_bundle_flights.first.flight.to_airport.city.restaurant_two%></p>
                      <p>3. <%= FlightBundle.find(flight_bundle).flight_bundle_flights.first.flight.to_airport.city.restaurant_three%></p>
                    </div>
                    <div class="col-xs-6 activities-list">
                      <h4>Top museums</h4>
                      <p>1. <%= FlightBundle.find(flight_bundle).flight_bundle_flights.first.flight.to_airport.city.bar_one%></p>
                      <p>2. <%= FlightBundle.find(flight_bundle).flight_bundle_flights.first.flight.to_airport.city.bar_two%></p>
                      <p>3. <%= FlightBundle.find(flight_bundle).flight_bundle_flights.first.flight.to_airport.city.bar_three%></p>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Bubble with quotes, Or later weather ? -->
              <div class="results__results-infos-quotes">
                <div class="bubble">
                  <div class="row row-destination-quote">
                    <div class="col-xs-12 destination-quote">
                      <h4>"This city is DA BOMB"</h4>
                      <p>Arnold Schwartzeneger himlself</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Ruby code for the Modal -->

            <% your_price = @flight_bundle.flight_bundle_flights[0].flight.price + @flight_bundle.flight_bundle_flights[1].flight.price %>
            <% friends_price = @flight_bundle.flight_bundle_flights[2].flight.price + @flight_bundle.flight_bundle_flights[3].flight.price %>
            <% total_price = @flight_bundle.total_price %>
            <% shared_price = @flight_bundle.total_price / 2 %>
            <% debt = 0 %>

            <% if your_price > friends_price %>
            <%  debt = your_price - shared_price %>
            <%  own_message = "Your friend owes you #{debt} €." %>
            <% else %>
            <%  debt = friends_price - shared_price %>
            <%  own_message = "You owe your friend #{debt} €." %>
            <% end %>

            <!-- Modal -->
            <div class="modal fade modal-book" id="exampleModal<%= @flight_bundle.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel<%= @flight_bundle.id %>" aria-hidden="true">
              <div class="modal-dialog book-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header ">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h5 class="modal-title" id="exampleModalLabel<%= @flight_bundle.id %>">Book your flight</h5>
                </div>

                <div class="modal-body modal-body-cover">
                  <div class="container-modal-text">
                    <div class="row">
                      <div class="col-md-6 text-center">
                        <h4>Please choose your starting location</h4>
                        <button type="button" class="btn btn-primary btn-modal" ><%= @flight_bundle.flight_bundle_flights.first.flight.from_airport.city.name %></button>
                        <button type="button" class="btn btn-primary btn-modal"><%= @flight_bundle.flight_bundle_flights[2].flight.from_airport.city.name %></button>
                        <p>Your flight: <%= your_price %> € </p>
                        <p>Your friends flight: <%= friends_price %> € </p>
                        <p>Be fair and share the bill. </p>
                        <p><%= own_message %></p>
                      </div>
                      <div class="col-md-6">
                        <div class="container-modal-image">
                          <%= image_tag "frie.png" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
