<!-- <div class="wrapper">

  <div class="container container-about">
    <div class="row row-about-cards">
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo">

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo" style="background-image: ">

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo">

          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-about-employee">
          <div class="card-employee-infos">
            <h3>Fname Lname</h3>
            <p>role</p>
            <div class="employee-info-country">
              <img src="" alt="">
              <p>Nationality/</p>
            </div>
            <p>description</p>
          </div>
          <div class="card-employee-photo">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

 <div class="text-center">

<!-- Banner -->
  <div class="banner-about" style="background-image: url('<%= image_url "Rectangle.png" %>');">
  </div>

    <div class="wrapper-about">
      <div class="container">
        <div class="row container-about">
          <h2> About us
          </h2>
          <div class="col-xs-6 col-md-3">
            <div class="card card-about">
              <div class="image-round">
                <%= image_tag "kaj-copy.png"%>
              </div>
              <div class="card card-grey">
                <h3>Kaj Schattner</h3>
                <p>
                Hey buoys! Tired of working in Logistics in Berlin, I've decided to fly over to Lisbon and get into coding. So far, so good. Let's go fetch some niiice flights for you and your friends. Ok guys, gotta go for a burrito now!
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="card card-about">
              <div class="image-round">
                 <%= image_tag "sam.png"%>
              </div>
              <div class="card card-about">
                <h3>Samuel <br> Pirès</h3>
                <p>
                  I already had some mad skills on HTML  before the bootcamp. Now I have built up the knowledge on full-stack and was part of this amazing project that is Alocando®. I'm ready to go back and rock on the French market with our product.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="card card-about">
              <div class="image-round">
                <%= image_tag "julio.png"%>
              </div>
              <div class="card card-grey">
                <h3>Julio Barbeiro</h3>
              <p>
                As a Brazilian, my first option was to become a football player. Fail. Tired of having a regular job, I've tried to become an entrepreneur on the inflatable buoys business. Fail #2. But now it's my time on such an amazing Alocando® team!
              </p>
              </div>
            </div>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="card card-about">
              <div class="image-round">
                <%= image_tag "scarlett.png"%>
              </div>
              <div class="card card-grey">
                <h3>Scarlett Wolter</h3>
              <p>
                Shoot! I was tired of Munich - except for the Oktoberfest - so I decided to dive into the tech business. I'm super excited, although it can be a f*cking hell sometimes. But, as life says, "it is what it is". All ready, see you!
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
