<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Homepage</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <!-- Banner -->
  <div class="text-center">

    <div id="header" style="background-image: url('<%= image_url "Rectangle.png" %>');">
      <div class="header-text">
        <h1>Find the cheapest flights</h1>
        <h2>to meet in a city with your friend from abroad</h2>
      </div>

<!--Input form for searching flights -->
      <div class="search-form">
        <form action="/flight_bundles" method="get" class="form-inline form-homepage">

          <label class="sr-only" for="inlineFormInput">Your city</label>
          <input type="text" required class="input-padding form-control mb-2 mr-sm-2 awesomplete" id="inlineFormInputCity" placeholder="Your city" name="your-city" list="mylist">

          <label class="sr-only" for="inlineFormInputName2">Your friend's city</label>
          <input type="text" required class="input-padding form-control mb-2 mr-sm-2 awesomplete" id="inlineFormInputFriendCity" placeholder="Your friend's city" name="friends-city" list="mylist">

          <!-- list for the autocomplete -->
          <datalist id="mylist">
            <% City.all.each do |city| %>
            <option> <%= city.name %> </option>
            <% end %>
          </datalist>

          <label class="sr-only" for="inlineFormInput">Start and Return Date</label>

        <div class="buoy-show-datepicker input-padding" >
          <div class="datepicker-field">
            <input type="text" required class="form-control mb-2 mr-sm-2" id="inlineFormStartInputDate" placeholder="Start and Return Date" name="start-date">
          </div>
        </div >
        <div class="datepicker-submit">
          <button type="submit" class="btn btn-orange mb-2">Search</button>
        </div>
        </form>
      </div>
      <div class="header-logo">
        <%= image_tag "logo.png"%>
      </div>
    </div>
  </div>

<!-- How to area -->
    <div class="wrapper-grey">
      <div class="container-how-to">
        <h2><strong>How it works</strong></h2>
        <div class="row center-boxes">

          <div class="col-xs-12 hidden-xs col-sm-4">
            <div class="card card-grey">
              <div class="image-round">
                <%= image_tag "des.png" %>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <div class="card card-grey">
              <h3>Two initial cities</h3>
              <p>
                You and a friend from anywhere in the world are in for a trip! Just inform your cities and we will get destinations with the cheapest total flight costs. Sweet!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="wrapper-turquois">
      <div class="container">
        <div class="row center-boxes">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-turquois">
              <h3>Destination results</h3>
              <p>
                We will fetch your flights and list them starting from the ones with the cheapest total costs. You will also get highlights of the destinations, so you know where to spend your time (and money -- that we've helped you saving!).
              </p>
            </div>
          </div>

          <div class="col-xs-12 hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="card card-turquois">
              <div class="image-round">
                <%= image_tag "fly.png" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-grey">
      <div class="container">
        <div class="row center-boxes">

          <div class="col-xs-12 hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="card card-grey">
              <div class="image-round">
                <%= image_tag "sha.png" %>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-grey">
              <h3>Share with your friend</h3>
              <p>
                Now just share it with your friend. Do it easily and quickly: e-mail, WhatsApp, Facebook -- you choose. Your buddy will get a link with all necessary details.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="wrapper-turquois">
      <div class="container">
        <div class="row center-boxes">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="card card-turquois">
              <h3>Split it evenly</h3>
              <p>
                Fair enough. Since Alocando® gives you the cheapest total flight costs, it's right that costs will be split evenly. Fair fare friends is what it is!
              </p>
            </div>
          </div>

          <div class="col-xs-12 hidden-xs col-sm-4 col-md-4 col-lg-4">
            <div class="card card-turquois">
              <div class="image-round">
                <%= image_tag "spl.png" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </div>
</html>
